# Web Framework
Flask
flask-cors

# Database
pymongo
python-dotenv

# GUI
pywebview[cef]

# Media Processing
yt-dlp
opencv-python
opencv-python-headless

# Machine Learning & Face Recognition
numpy
scipy
tensorflow
tf-keras
deepface
face-recognition
