@font-face {
  font-family: 'Gotham';
  src: url('/fonts/GothamMedium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('/fonts/GothamBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'Gotham', system-ui, sans-serif;
} 